.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
    margin-right: -40px;
    z-index: -1;
}

.App-logo-reverse {
    animation: App-logo-spin-reverse infinite 6s linear;
    height: 80px;
    margin-left: -40px;
}

.App-logo-reverse-no-animation {
    animation: no-animation infinite 6s linear;
    height: 80px;
    margin-left: -40px;
    z-index: 1;
}

.logo-container {
    position: relative;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes App-logo-spin-reverse {
    0% {
        transform: rotate(0deg)
    }

    60% {
        transform: rotate(-47deg)
    }

    70%{
       transform: rotate(-47deg) 
    }

    85%{
        transform: rotate(0deg)
    }
}

@keyframes no-animation {
    from {}

    to {}
}